body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
}

h1, h2 {
  color: #9ED2C6;
}

h2 {
  font-size: 2.5rem;
}

h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
color: #00ADB5;
}

p {
  color: #323232;
  line-height: 2;
}

.intro {
  width: 75%;
  margin: 0 auto 0;
}

.bottom-container p {
  color: #04879C;
}

a{
  color: #00ADB5;
  margin: 10px 20px;
}

a:hover {
  color: #04879C
}

hr{
  border: dotted #04879C 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container {
  background-color: #04879C;
  position: relative;
  padding-top: 100px;
  margin: 0;
}

.middle-container {
  padding: 100px 0;
  margin: 0;
}

.bottom-container {
  background-color: #9ED2C6;
  padding: 50px;
}

.mountain-img {
  padding-top: 50px;
}

.profile-img {
  width: 15rem;
}

.a-pro {
  font-weight: normal;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 400px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 400px;
}

.proj-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.s-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.d-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn.button {
   border-radius: 10px;
   color: #FFFFFF;
   font-size: 20px;
   font-weight: normal;
   padding: 10px 30px 10px;
   background-color: #9ED2C6;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.card {
  margin: 1rem;
}

.card.skill {
  margin: 5rem;
}

.btn.button:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.card:hover {
  border: solid #337FED 1px;
  background-color: #08AEEA;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
